@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');

:root{
    --test-bg: red;
    --bg: #001c30;
    --btn: #176b87;
    --base-size: 10px;
    --title-color: #d4fffb;
    --txt-color: #64ccc5;
    --border: 1px solid #000000;
    --ff: 'Jacques Francois Shadow', cursive;
    --mg: 50px;
}

html{
    margin: 0;
    padding: 0;
    border: none;
    font-size: var(--base-size);
    overflow-x: hidden;
}

body{
    background: var(--bg);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    border: none;
    width: 100vw;
}

/* debut du header */

header{
    border: var(--border);
    background: var(--btn);
    height: 71px;
    text-align: center;
    width: 100vw;
}

h1{
    color: var(--title-color);
    font-family: var(--ff);
    font-size: 4rem;
    margin-top: 1.8rem;
}

/* fin du header */

/* debut de la description */

.description{
    height: 35rem;
    margin-top: var(--mg);
    margin-left: 20rem;
    width: 65vw;
    display: flex;
    padding: 1rem;
    color: var(--txt-color);
}

.description__image img{
    border-radius: 50rem;
    width: 35rem;
}

.description__text{
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-top: 12rem;
}

.description__text h2{
    font-size: 3rem;
    font-family: var(--ff);
    color: var(--txt-color);
}

.description__text p{
    color: var(--title-color);
    font-size: 2.5rem;
    margin-left: 6rem;
    margin-top: -2rem;
}

/* fin de la description */

/* debut du titre_1 */

.titre_1{
    background: var(--btn);
    border: var(--border);
    border-radius: 1rem;
    height: 6rem;
    margin-top: var(--mg);
    margin-left: 48rem;
    text-align: center;
    width: 30rem;
    
}

.titre_1 h2{
    font-size: 3rem;
    margin-top: 1rem;
}

/* fin du titre_1 */

/* debut du plan */

.plan{
    background: var(--btn);
    border-radius: 2rem;
    display: flex;
    height: 55rem;
    margin-left: 4.5rem;
    margin-top: var(--mg);
    padding: 1rem;
    width: 90vw;
    color: var(--title-color);
}

.box{
    width: 49%;
}

.plan__vertical_ligne{
    width: 2%;
}

.plan__vertical_ligne__one{
    background: #000;
    height: 96%;
    margin-top:40%;
    margin-left: 50%;
    width: 0.1rem;   
}

.la_1{
    height: 38%;
}

.la_1 img{
    margin-left: 10px;
}

.la_1 h2{
    color: #000;
    font-size: 3rem;
    margin-left: 4.5rem;
    margin-top: -3.4rem;
}

.la_1 p{
    font-size: 2rem;
    margin-left: 4.5rem;
}

.la{
    height: 60%;
}

.la img{
    margin-left: 1rem;
}

.la h2{
    color: #000;
    font-size: 3rem;
    margin-left: 4.5rem;
    margin-top: -3.4rem;
}

.la p{
    font-size: 2rem;
    margin-left: 4.5rem;
}

.ligne{
    height: 2%;
}

hr{
    background: #000;
    height: 0.1rem;
    margin-left: 2%;
    width: 96%;
    
}

.solo{
    display: none;
}

/* fin du plan */


@media only screen and (max-width:400px) {
    header{
        height: 4rem;
    }

    h1{
        font-size: 2rem;
        margin-top: 1.1rem;
    }

    .description{
        flex-direction: column;
        margin-left: 1.9rem;
        margin-top: 1rem;
        height: 45vh;
        width: 85vw;
    }

    .description__image img{
        width: 30rem;
        margin-left: 2rem;
    }

    .description__text{
        margin-left: 1.5rem;
        margin-top: 0rem;
    }

    .description__text h2{
        font-size: 2.5rem;
    }

    .description__text p{
        font-size: 2.3rem;
        margin-left: 3rem;
    }

    .titre_1{
        width: 50vw;
        height: 5rem;
        margin-left: 9rem;
        margin-top: 3rem;
    }

    .titre_1 h2{
        margin-top: 0.6rem;
        font-size: 3rem;
    }

    .plan{
        flex-direction: column;
        margin-left: .9rem;
        margin-top: 3rem;
        height: 155rem;
        width: 90vw;
        padding: none;
    }

    .plan_1{
        width: 98%;
        margin-left: -1rem;
    }
    
    .plan_2{
        width: 98%;
        margin-left: -1rem;
    }

    .la{
        width: 100%;
        margin-bottom: -6rem;
    }
     
    .la_1{
        width: 100%;
    }

    .text p{
        font-size: 2rem;
        margin-left: 1.5rem;
        width: 100%;
    }

    .solo{
        display: block;
        margin-bottom: 12rem;
    }
}

/* iphone XR */
@media only screen and (max-width:600px) {
    header{
        height: 4rem;
    }

    h1{
        font-size: 2.5rem;
        margin-top: 0.6rem;
    }

    .description{
        flex-direction: column;
        margin-left: 1.9rem;
        margin-top: 1rem;
        height: 45vh;
        width: 85vw;
    }

    .description__image img{
        width: 30rem;
        margin-left: 2rem;
    }

    .description__text{
        margin-left: 1.5rem;
        margin-top: 0rem;
    }

    .description__text h2{
        font-size: 2.5rem;
    }

    .description__text p{
        font-size: 2.3rem;
        margin-left: 3rem;
    }

    .titre_1{
        width: 50vw;
        height: 5rem;
        margin-left: 9rem;
        margin-top: 3rem;
    }

    .titre_1 h2{
        margin-top: 0.6rem;
        font-size: 3rem;
    }

    .plan{
        flex-direction: column;
        margin-left: .9rem;
        margin-top: 3rem;
        height: 155rem;
        width: 90vw;
        padding: none;
    }

    .plan_1{
        width: 98%;
        margin-left: -1rem;
    }
    
    .plan_2{
        width: 98%;
        margin-left: -1rem;
    }

    .la{
        width: 100%;
        margin-bottom: -6rem;
    }
     
    .la_1{
        width: 100%;
    }

    .text p{
        font-size: 2rem;
        margin-left: 1.5rem;
        width: 100%;
    }

    .solo{
        display: block;
        margin-bottom: 12rem;
    }
    
}

@media only screen and (max-width:1221px) {
    .description{
        background: var(--test-bg);
    }
    .plan{
        height: 60rem;
    }
}

@media only screen and (max-width:1193px) {
    .description{
        margin-left: 18rem;
        width: 68vw;
    }
}

@media only screen and (max-width:1153px) {
    .description{
        margin-left: 16rem;
        width: 70vw;
    }
    .titre_1{
        margin-left: 40rem;
    }

    .plan{
        height: 64rem;
    }
}

@media only screen and (max-width:1109px) {
    .description{
        background: var(--test-bg);
        margin-left: 14rem;
        width: 74vw;
    }
    .plan{
        height: 72rem;
    }
}

@media only screen and (max-width:1048px) {
    .description{
        margin-left: 10rem;
        width: 78vw;
    }

    .titre_1{
        margin-left: 36rem;
    }
    .plan{
        height: 76rem;
    }
}

@media only screen and (max-width:994px) {
    .description{
        margin-left: 8rem;
        width: 80vw;
    }
    .plan{
        height: 78rem;
    }
}

@media only screen and (max-width:969px) {
    .description{
        margin-left: 6rem;
        width: 84vw;
    }

    .titre_1{
        margin-left: 32rem;
    }
    .plan{
        margin-left: 4rem;
        height: 84rem;
    }
}

@media only screen and (max-width:923px) {
    .description{
        width: 88vw;
    }
    .plan{
        margin-left: 3rem;
    }
}

@media only screen and (max-width:881px) {
    .description{
        height: 25rem;
    }

    .description__image img{
        width: 25rem;
    }

    .description__text{
        margin-top: 6rem;
    }

    .description__text h2{
        font-size: 3rem;
    }

    .titre_1{
        margin-left: 28rem;
    }
    .plan{
        height: 96rem;
    }
}

@media only screen and (max-width:767px) {
    .description{
        background: var(--test-bg);
        margin-left: 4rem;
    }

    .titre_1{
        margin-left: 23rem;
    }

    .description__text{
        margin-left: 2rem;
    }


    .plan{
        height: 100rem;
    }
}

@media only screen and (max-width:733px) {
    header{
        height: 6rem;
    }

    h1{
        font-size: 3rem;
        margin-top: 2rem;
    }

    .description{
        background: var(--test-bg);
        margin-left: 3rem;
        width: 90vw;
    }

    .titre_1{
        margin-left: 23rem;
    }

    .description__text{
        margin-left: 1rem;
    }

    .plan{
        height: 110rem;
    }
}

@media only screen and (max-width:707px) {
    .description{
        background: var(--test-bg);
        margin-left: 2rem;
    }

    .titre_1{
        margin-left: 20rem;
    }

    .description__text{
        margin-left: 2rem;
    }

    .description__text h2{
        font-size: 2.5rem;
    }

    .description__text p{
        font-size: 2.2rem;
    }


    .plan{
        height: 115rem;
    }
}

@media only screen and (max-width:647px) {
    body{
        overflow-x: hidden;
    }
    .description{
        background: var(--test-bg);
        margin-left: 2rem;
    }

    .titre_1{
        margin-left: 20rem;
    }

    .description__text{
        margin-left: 2rem;
    }


    .plan{
        height: 120rem;
    }
}
